################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/ApplePayCertificatesHelper/v15
/ApplePayCertificatesHelper/bin/Debug
/ApplePayCertificatesHelper/obj/Debug
